// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.testcafe-runner-view {
    padding: 16px;
    font-family: 'PT Mono', 'Mononoki', 'Consolas', 'Ubuntu Mono', monospace;
    overflow: auto;
    overflow-y: scroll;
    max-height: 300px;
}

.testcafe-message {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: transparent;
}

.testcafe-runner-view-close-button {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 2px;
    cursor: pointer;
    font-size: 11px;
}

.testcafe-runner-view-close-button::after {
    content: '\00274C';
}
